@using ECommerceStore.Models;
@model SharedModel.Models.Category

<div class="row">
    <div class="col-sm-12">
        @{
            GetDDLData ddltype = new GetDDLData();
            List<SelectListItem> lst = ddltype.GetTypeDDl();
            VMopButtons btn = new VMopButtons();
            if (Model != null)
            {
                btn.EditOn = true;
            }
            Html.RenderPartial("~/Views/Shared/_OperationButton.cshtml", btn);
        }
        </div>

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Category</h4>
                    <p class="card-description"></p>
                    @using (Html.BeginForm(new { htmlAttributes = new { id = "FrmCategory" } })) 
                    {
                        @Html.AntiForgeryToken()
                        if (Model != null)
                        {

                            <input type="hidden" name="id" id="recodId" value="@Model.id" />
                        }
                        <div class="form-group row">
                            <div class="col">
                                <label>Category Type </label>
                                <div id="the-basics">

                                    <select id="ddltype" class="form-control" name="@Html.NameFor(m=>m.p_id)" required>
                                        <option value="" id="">Select Category Type</option>
                                        @{
                                            foreach (SelectListItem item in lst)
                                            {
                                                if (Model != null)
                                                {
                                                    string select = item.Value == Model.p_id.ToString() ? "Selected=true" : "";
                                                    <option @select value="@item.Value">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label>Category Name :</label>
                                <div id="the-basics">
                                    @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control", id = "cf", placeholder="Category Name"} })
                                    @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


