@using ECommerceStore.Models;
@model ECommerceStore.Models.VMProduct

<div class="col-sm-12">
    @{
        GetDDLData ddltype = new GetDDLData();
        List<SelectListItem> typelist = ddltype.GetTypeDDl();
        VMopButtons btn = new VMopButtons();
        if (Model != null)
        {
            btn.EditOn = true;
        }
        Html.RenderPartial("~/Views/Shared/_OperationButton.cshtml", btn);
  
        GetDDLData ddlCategory = new GetDDLData();
        List<SelectListItem> categorylist = ddlCategory.GetCategoryDDl();

   
        GetDDLData ddlSubCategory = new GetDDLData();
        List<SelectListItem> subcategorylist = ddlSubCategory.GetSubCategoryDDl();

    }



</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Add Products</h3>
            <p class="card-description"></p>
            <form method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                <input type="hidden" name="@Html.NameFor(m => m.imgstring)" id="imgsulr" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleSelectGender">Product Type :</label>
                            <select class="form-control" id="Pro_Type" onchange="typechange()" name="@Html.NameFor(m => m.Pro_Type)" required>
                                @{
                                    foreach (SelectListItem item in typelist)
                                    {
                                        if (Model != null)
                                        {
                                            string select = item.Value == Model.group_id.ToString() ? "Selected=true" : "";
                                            <option @select value="@item.Value">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Category :</label>
                            <select class="form-control" id="Pro_Category" onchange="categoerychange()" name="@Html.NameFor(m => m.Pro_Category)" required>
                                <option value="" id="ddlcate">Select Product Category</option>
                                @*@{
                                        foreach (SelectListItem item in categorylist)
                                        {
                                            if (Model != null)
                                            {
                                                string select = item.Value == Model.group_id.ToString() ? "Selected=true" : "";
                                                <option @select value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }*@
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Sub Category : </label>
                            <select class="form-control" id="Pro_SubCategory" name="@Html.NameFor(m => m.Pro_SubCategory)" required>
                                <option value="">Select Sub Category</option>
                                @*@{
                                        foreach (SelectListItem item in subcategorylist)
                                        {
                                            if (Model != null)
                                            {
                                                string select = item.Value == Model.group_id.ToString() ? "Selected=true" : "";
                                                <option @select value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }*@
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Title/Name :</label>
                            <input type="text" class="form-control" id="name" name="@Html.NameFor(m => m.name)" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Taxes Include :</label>
                            <input type="number" class="form-control" id="tax_id" name="@Html.NameFor(m => m.tax_id)" placeholder="Taxes Include">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Price :</label>
                            <input type="number" class="form-control" id="price" name="@Html.NameFor(m => m.price)" placeholder="Product Price">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Product SKU :</label>
                            <input type="text" class="form-control" id="sku" name="@Html.NameFor(m => m.sku)" placeholder="Product SKU">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="exampleInputName1">Product Discription :</label>
                            <textarea type="text" class="form-control" id="description" name="@Html.NameFor(m => m.description)" placeholder="Product Discription"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputName1">Unit (kg/pc/lb/ml/g...etc) :</label>
                            <input type="number" class="form-control" id="stock" name="@Html.NameFor(m => m.stock)" placeholder="Unit (kg/pc/lb/ml/g...etc)">
                        </div>
                    </div>
                    @{Html.RenderPartial("Image_Product");}
                </div>
            </form>
        </div>

    </div>
 

</div>