@model SharedModel.Models.Category
@using ECommerceStore.Models;
@{
    ViewBag.Title = "Newform";
}



<div class="row">
    <div class="col-sm-12">
        @{
            GetDDLData ddlCategory = new GetDDLData();
            List<SelectListItem> lst = ddlCategory.GetCategoryDDl();
            VMopButtons btn = new VMopButtons();
            if (Model != null)
            {
                btn.EditOn = true;
            }
            Html.RenderPartial("~/Views/Shared/_OperationButton.cshtml", btn);
        }
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fill Sub Category</h4>

                <form class="forms-sample">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleSelectGender">Category :</label>
                                <select class="form-control" id="DDlCategory" name="@Html.NameFor(m=>m.p_id)" required>
                                    @{
                                        foreach (SelectListItem item in lst)
                                        {
                                            if (Model != null)
                                            {
                                                string select = item.Value == Model.p_id.ToString() ? "Selected=true" : "";
                                                <option @select value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputName1">Sub Category Name :</label>
                                @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control", id = "cf" } })
                                @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>


